<%- include("layout/header") %>
<main>
    <div class="split left">
        <div class="center">
            <form action="/api/urlShortenerSameWebsite" method="post">
                <label for="Origin">Enter Target URL:</label>
                <input id="Origin" name="OriginalUrl" value="<%=OriginalUrl %>" type="url">
                <div class="break"></div>
                <label for="Shortner">Your Short URL:</label>
                <input id="Shortner" name="ShortlUrl" value="<%=ShortUrl %>" type="url" readonly>
                <div class="break2"></div>

                <div class="toolbar">
                    <button type="submit">Generate Short Url</button>
                </div>
            </form>
        </div>
    </div>
    <div class="vl"></div>
    <div class="split right">
        <div class="center">
            <h3>Dynamic QR Code</h3>
            <img src="<%= qr_code %>" alt="QR Code">
            <% if (qr_code) { %>
              <p>Original URL: <%= OriginalUrl %></p>
              <p>Short URL: <%= ShortUrl %></p>
              <a href="<%= ShortUrl %>" target="_blank" rel="noopener noreferrer">Open Website</a>
            <% } %>
        </div>
    </div>
</main>
<%- include('layout/footer') %>
